.header {
  white-space: pre-line;
  width: 100vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
  height: 100vh;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background-color: #f2f2f2;
  margin: 0;
}

@media screen and (max-width: 1160px) {
  .header {
    max-height: 650px;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    max-height: 550px;
  }
}

@media screen and (max-width: 850px) {
  .header {
    max-height: 450px;
  }
}

@media screen and (max-width: 425px) {
  .header {
    max-height: 350px;
  }
}
