.header__title {
  width: 730px;
  margin: 0 0 0 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 2;
}

@media screen and (max-width: 1160px) {
  .header__title {
    font-size: 88px;
    line-height: 1;
  }
}

@media screen and (max-width: 1024px) {
  .header__title {
    font-size: 7.5vw;
    line-height: 1;
    height: fit-content;
  }
}

@media screen and (max-width: 425px) {
  .header__title {
    font-size: 36px;
    line-height: 1;
  }
}
